body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header, footer {
    background-color: rebeccapurple;
    color: seashell;
    text-align: center;
    padding: 20px;
    font-style: normal;
    
}
h2{
    background-color: rebeccapurple;
    color: seashell;
    padding: 10px;
    text-align: center;
}
h3{
    background-color: rebeccapurple;
    color: seashell;
    padding: 5px;
    text-align: center;
}
h4{
    background-color: rebeccapurple;
    color: seashell;
    padding: 3px;
    text-align: center;
}
aside{
    text-align: center;
}
.btn{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background-color: white;
    border: 2px solid #a209ce;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
